#include "/home/t/.colors/base16-google.dark"

! Font settings
!urxvt*font: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont:-*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*

!urxvt*font: xft:uushi:pixelsize=9:antialias=true:hinting=true
!urxvt*boldFont: xft:uushi:pixelsize=9:antialias=true:hinting=true
!urxvt*italicFont: xft:uushi:pixelsize=9:antialias=true:hinting=true
!urxvt*bolditalicFont: xft:uushi:pixelsize=9:antialias=true:hinting=true

urxvt*font: -*-gohufont-medium-r-normal-*-11-*-*-*-*-*-*-*
urxvt*boldFont: -*-gohufont-bold-r-normal-*-11-*-*-*-*-*-*-*
urxvt*italicFont: -*-gohufont-medium-r-normal-*-11-*-*-*-*-*-*-*
urxvt*bolditalicFont: -*-gohufont-bold-r-normal-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-dweep-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-dweep-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-dweep-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-dweep-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*

! Appearance
!urxvt*cursorUnderline: 1
urxvt*cursorBlink: true
urxvt*scrollBar: false
urxvt*internalBorder: 2 
urxvt*dynamicColors: on

! Behavior
urxvt*perl-ext-common: default,matcher
urxvt*url-launcher: /usr/bin/luakit
urxvt*matcher.button: 1
urxvt*urgentOnBell: true
urxvt*savelines: 3000

! XFont configs
Xft*antialias: true
Xft*autohint: true
Xft*hinting: true
Xft*hintstyle: hintslight
Xft*lcdfilter: lcdlight
Xft*rgba: rgb
Xft*dpi: 96
