#include "/home/t/.colors/base16-google.dark"

! Font settings
!urxvt*font: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*

!URxvt*font: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!URxvt*boldFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!URxvt*italicFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!URxvt*bolditalicFont:-*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*

!URxvt*font: xft:uushi:pixelsize=9:antialias=true:hinting=true
!URxvt*boldFont: xft:uushi:pixelsize=9:antialias=true:hinting=true
!URxvt*italicFont: xft:uushi:pixelsize=9:antialias=true:hinting=true
!URxvt*bolditalicFont: xft:uushi:pixelsize=9:antialias=true:hinting=true

urxvt*font: -*-gohufont-medium-r-normal-*-11-*-*-*-*-*-*-*
urxvt*boldFont: -*-gohufont-bold-r-normal-*-11-*-*-*-*-*-*-*
urxvt*italicFont: -*-gohufont-medium-r-normal-*-11-*-*-*-*-*-*-*
urxvt*bolditalicFont: -*-gohufont-bold-r-normal-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-dweep-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-dweep-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-dweep-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-dweep-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*

! Appearance
!URxvt*cursorUnderline: 1
*cursorBlink: true
*scrollBar: false
*internalBorder: 5
*dynamicColors:	on

! Behavior
*perl-ext-common: default,matcher
*url-launcher: /usr/bin/luakit
*matcher.button: 1
*urgentOnBell: true
*savelines: 3000

! XFont configs
Xft*antialias: true
Xft*autohint: true
Xft*hinting: true
Xft*hintstyle: hintslight
Xft*lcdfilter: lcdlight
Xft*rgba: rgb
Xft*dpi: 96
