html, body {
      background-color: #1d1f21;
      font-family: "GohuFont","Fira Sans";
      font-weight: normal;
      margin-left: 7%;
      height: 100%;
    }
    a:link,a:visited,a:active {
      text-decoration: none;
      color: #c5c8c6;
      font-weight: normal;
    }
    a:hover {
      text-decoration: underline;
      color: #c5c8c6;
      font-weight: normal;
    }
    table {
      font-size: 9pt;
      border-spacing: 8px;
    }
    td {
      vertical-align: middle;
    }
    td:first-child {
      font-weight: bold;
      color: #e0e0e0
    }
    td:nth-child(2) {
      font-weight: normal;
      color: #373b41;
    }
